p{
  color: rgb(157, 182, 228);
  font-size: 18px;
}
h1{
    color: hotpink;
    font-size: 41px;
    text-align: center;
}
body{
    background-color: rgb(128, 94, 94);
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: rgb(25, 138, 138);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.info{
    color: blue;
}
#varování{
    color: red;
}